<div class="navbar" fxLayout="row wrap" fxLayoutAlign="space-between center" color="primary">
  <div fxFlex="30%" fxFlex.xs="100%">
    <div class="navbar-brand">
      <span> <mat-icon>icecream</mat-icon><a routerLink="">Icecream Shop</a></span>
    </div>
  </div>
  <div fxFlex="30%" fxFlex.xs="100%">
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="menu">Menu</button>
    <button mat-button routerLink="about">About</button>
    <button mat-button routerLink="contact">Contact</button>

  </div>
</div>