.banner {
    background-image: url('../../../assets/bannerimg.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
}

.container {
    padding: 20px 0;
}


.content {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

.content a {
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover {
    background-color: var(--primary-color);
    color: #fff;
}



.wrapper h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0;
}


.stepBox {
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.stepBox h2 {
    font-size: 50px;
    font-weight: bold;
    color: #4a4a4a;
}

.stepBox p {
    font-size: 18px;
    font-style: italic;
    color: #fff;
}

.highlight {
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox {
    background: #f7f7f5;
    border-radius: 5px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}

.foodbox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;

}

.foodbox h3 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.foodbox p{
    text-align: center;
}

.btn-view-more {
    text-align: center;
    margin:10px auto 20px auto;
    display: flex;
}

@media screen and (max-width:600px) {
    .banner {
        height: 700px;
    }
}